.themeBtn {
  width: 35px;
  height: 35px;
  margin: 15px;

  border-radius: 100%;
  border: none;

  cursor: pointer;

  //background: var(--theme-bg-icon) var(--nav-btn-bg-color);
  background: var(--theme-bg-icon) white;
  background-repeat: no-repeat;
  background-size: contain;
}

.themeBtn:hover {
  background: var(--theme-bg-icon) var(--theme-btn-bg-color);
  background-repeat: no-repeat;
  background-size: contain;

  transition: background-color .5s;
}