.themeBtn {
  font: var(--font-m);

  width: 35px;
  height: 35px;
  margin: 15px;

  border-radius: 100%;
  border: solid var(--nav-btn-bg-color) 2px;

  cursor: pointer;

  background: var(--theme-bg-icon) var(--nav-btn-bg-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.themeBtn:hover {
  box-shadow: inset 0 0 0 0 var(--nav-btn-bg-color);
}