.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalWindow {
  position: relative;
  width: 50%;
  background: #cad7ee;
  padding: 20px;
  border-radius: 4px;
  outline: none;
}

.ModalLink {
  width: 45px;
  height: 45px;
  margin: 15px;

  color: transparent;

  //border-radius: 100%;
  border: none;

  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
}

.links {
  display: flex;
  justify-content: center;
}