.ModalOverlay {
  font-family: Arial, sans-serif;
  line-height: 58px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalWindow {
  height: 300px;

  position: relative;
  width: 30%;
  color: #ccece6;
  background: #4b126c;
  padding: 20px;
  //border-radius: 100px;
  outline: none;

  border: 10px solid skyblue;
  border-image: linear-gradient(to right top, #d110e7, #e3bc0c, #d71c1c);
  border-image-slice: 1;
}

.Contacts {
  display: block;
  height: 80%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20%;
}

.ModalLink {
  width: 45px;
  height: 45px;
  margin: 15px;

  color: transparent;

  //border-radius: 100%;
  border: none;

  cursor: pointer;

  background-repeat: no-repeat;
  background-size: contain;
}

.ModalLink:hover {
  margin-bottom: 30px;
  transition: margin .2s;
}

h2 {
  text-align: center;
}

