.App.dark {
  --bg-color: #333232; // Цвет фона
  --primary-color: #FFFFFF; // Основной цвет текста
  --secondary-color: #FFFFFF; // Вторичный цвет текста


  // MenuButton styles
  --nav-btn-color-hover: #359ea9; // Цвет текста при наведении
  --nav-btn-color: #FFFFFF; // Цвет текста навигационных кнопок
  --box-shadow-color: #4dd8e8; // Цвет рамок

  // ThemeButton styles
  --theme-bg-icon: url("../../../images/sun-fog-svgrepo-com.svg"); // Иконка смены темы
}