.App.light {
  --bg-color: #FFFFFF; // Цвет фона
  --text-color: #000000; // Цвет текста

  --nav-btn-bg-color: #6200EE; // Цвет фона навигационных кнопок
  --nav-btn-color: #cebaf1; // Цвет текста навигационных кнопок

  --theme-bg-icon: url("../../../images/moon-fog-svgrepo-com.svg"); // Иконка смены темы
}