header {
  display: flex;
  justify-content: center;
}

.Navbar {
  width: 100vw;
  height: 60px;
  //background-color: #99d7de;
}

.Navbar__menu {
  display: flex;
  justify-content: center;

  list-style-type: none;

  margin-right: 250px;
}

.logo{
  font-family: Consolas;
  font-size: 28px;
  align-self: center;

  width: 250px;

  text-decoration: underline;
}